form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 20px;
}

#input-box-id.input-box-class,
#btn-id.btn-class {
  margin-bottom: 26px;
}

#heading.heading {
  font-size: 200%;
  margin-bottom: 2vh;
}

#input-id.input-class,
#btn-id.btn-class {
  height: 55px;
}

@media screen and (min-width: 320px) and (max-width: 452px) {
  #input1.input-class,
  #input2.input-class,
  #input3.input-class #btn-id.btn-class {
    height: 45px;
  }

  #heading.heading {
    font-size: 140%;
    margin-bottom: 30px;
  }

  #input1.input-class,
  #input2.input-class,
  #input3.input-class {
    margin-bottom: 18px;
  }

  #btn-id.btn-class {
    width: 77vw;
  }
}

@media screen and (min-width: 453px) and (max-width: 768px) {
  #div.div {
    width: 70vw;
  }

  #btn-id.btn-class {
    width: 40vw;
  }

  #heading.heading {
    font-size: 150%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  form {
    padding-top: 18px;
  }

  #div.div {
    width: 60vw;
  }

  #heading.heading {
    font-size: 160%;
  }

  #btn-id.btn-class {
    width: 35vw;
  }
}

@media screen and (min-width: 1025px) and (max-width: 3000px) {
  #div.div {
    width: 40vw;
  }

  #btn-id.btn-class {
    width: 25vw;
  }
}
